.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.color-main-background {
  background-color: rgb(76, 94, 122);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.basic-card {
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.jobsite-main {
  padding: 0px 0px 20px 0px;
  max-width: 1300px;
  margin: 0px auto;
}

.jobsite-address-container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 1fr 1fr;
}

.map-container {
  grid-area: 1/1/4/2;
  justify-self: center;
}

.jobsite-map {
  height: 400px;
  width: 400px;
  border: 1px #555555 solid;
}

.address-container {
  grid-area: 1/2/2/3;
  padding: 10px;
}

.jobsiteuser-container {
  grid-area: 2/2/4/3;
  padding: 10px;
}

.add-spec-container {
  grid-area: 4/2/5/3;
}

.jobsite-wrench {
  font-size: 3em;
}

.refesh-button-container {
  height: 100px;
  width: 100px;
  background-color: green;
}

#all-jobsites-link {
  width: 200px;
  padding: 20px 0;
}